.contactSection {
    background-color: var(--evenComp);
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.title {
    text-align: center;
    color: #3b82f6;
    font-size: 2.5rem;
    font-weight: 700;
}

.subTitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 3rem;
}

.emailBox {
    display: flex;
    flex-direction: column;
}

.emailRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.emailRow p{
    word-break: break-word;
    flex: 1;
    margin: 0;
}

.copyBTN {
    border: none;
    background-color: transparent;
    color: #3b82f6;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
    padding: 0;
}

.emailRow button:hover {
    transform: scale(1.2);
}

.leftSide h4 {
    color: var(--myNameColor);
    margin-bottom: 1rem;
}

.leftSide p {
    color: #6b7280;
    margin-bottom: 2rem;
}

.infoItem {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.infoItem > i {
    width: 45px;
    height: 45px;
    background: #3b82f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.infoItem span {
    color: var(--myNameColor);
    font-weight: 600;
}

.infoItem p {
    margin: 0;
    color: #6b7280;
}

.infoItem a {
    color: #3b82f6;
    text-decoration: none;
}

.formContainer {
    background-color: var(--cardBackground);
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.formContainer input,
.formContainer textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
    background: transparent;
    color: var(--myNameColor);
    outline: none;
}

.formContainer input:focus,
.formContainer textarea:focus {
    border-color: #3b82f6;
}

.formContainer button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #3b82f6;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.formContainer button:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .leftSide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoItem {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--cardBackground);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .infoItem > i {
        width: 40px;
        height: 40px;
    }

    .emailBox{
        width: 100%;
    }

    .emailRow{
        width: 100%;
    }

    .leftSide p {
        text-align: center;
    }
}